@model List<TheBookCave.Models.ViewModels.BookViewModel>

<!-- The following code block returns the total books in the order. -->
@{int totalBooks = 0;}
@foreach(var Book in Model)
{
    totalBooks += Book.Amount;
}

<!-- The following code block returns "book" if there is only a single book in the cart, otherwise it returns "books". -->
@{string bookVsBooks = "book";}
@if(totalBooks != 1)
{
  bookVsBooks += "s";
}

<h1 class="text-center">Your Carts<small> @totalBooks books</small></h1>
<p class="text-center">The following is a list of all items in your cart. Click the 'Proceed to Checkout' button on the bottom of the page to confirm your order.</p>
<p class="text-center">You can still modify the amount of each individual book you wish to purchase, just make sure to click the 'Update' button to get the updated prices.</p>
<hr/>
@{double totalPrice = 0;}
@foreach (var Book in Model)
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 row">
            <div class="col-md-2">
                <div class="thumbnail">
                    @{string path = Book.Image;}
                    <img class="image-small" src=@Url.Content(path) alt="@Book.Title">
                    @{int intRating    = ((int)(((Book.Rating * 4) + 1) / 2)) * 5; }
                    @{string stringRating = "~/images/stars/" + intRating + "StarsSmall.png"; }
                    <img src=@Url.Content(stringRating) alt="Rating" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-7 row">
                <div class="col-md-3">
                <br>
                    <form method="POST">
                        <input type="number" name="amount" value="@Book.Amount" class="form-control">
                        <input asp-controller="Account" asp-action="UpdateCart" asp-route-bookID="@Book.ID" value="Update" type="submit" class="form-control">
                    </form>
                </div>
                <div class="col-md-9">
                    <h3>@Book.Title</h3>
                    <h4>By @Book.Author</h4>
                </div>
            </div>
            <div class="col-md-2">
                @{double price = (Book.Price * Book.Amount);}
                @{totalPrice += price;}
                <h3>@price$</h3>
            </div>
            <div class="col-md-1">
                <br>
                <form asp-action="RemoveCart" asp-controller="Account" asp-route-bookID="@Book.ID" method="POST">
                    <input type="submit" class="btn btn-danger" value="Remove"/>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><hr></div>
        <div class="col-md-2"></div>
    </div>
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Total: @totalPrice<!---->$</h3>
            <form method="POST">
                <input type="submit" asp-controller="Account" asp-action="MakeOrder" asp-route-id="rghgjhvjhvdjhjh45347yhu" class="btn btn-primary" value="Proceed To Checkout"/>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="col-md-2"></div>
</div>

