@model TheBookCave.Models.ViewModels.UserViewModel

<!-- The following row is split into a 2-3-5-2 column system, where the two middle columns collectively display the body. -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <!-- The main purpose of this column is to display the user's avatar and a button to change it. -->
    <br>
    <div class="jumbotron">
      @{string path = Model.Image;}
      <img class="image-small img-responsive center-block" src=@Url.Content(path) alt="Avatar">
      <a asp-action="ChooseAvatar" asp-controller="Account" class="btn btn-primary center-block">Change Avatar</a>
    </div>
  </div>
  <div class="col-md-5">
    <!-- This column displays a form where the user can input information they wish to change. -->
    <h1>Edit Profile</h1>
    <p>Fill in information boxes that you wish to change and click the 'Submit' button. Empty fields will remain unchanged.</p>
    <br/>
    <form asp-action="EditProfile" asp-controller="Account" asp-route-id=@Model.UserID>
      <div class="form-group">
        <label for="edit-first-name">First Name</label>
        <input type="text" name="firstName"  class="form-control" id="edit-first-name" value="@Model.FirstName"/>
      </div>
      <div class="form-group">
        <label for="edit-last-name">Last Name</label>
        <input type="text" name="lastName"  class="form-control" id="edit-last-name" value="@Model.LastName"/>
      </div>
      <fieldset>
        <legend>Adress</legend>
        <!-- If the user has already added shipping information to their account, the 'Address' part of the form will have their information already filled in. -->
        @if(@Model.Address != null)
        {
          <div class="form-group">
            <label for="edit-street-name">Street Name</label>
            <input type="text" name="streetName"  class="form-control" id="edit-street-name" value="@Model.Address.StreetName"/>
          </div>
          <div class="form-group">
            <label for="edit-house-number">House Number</label>
            <input type="number" name="houseNumber"  class="form-control" id="edit-house-number" value="@Model.Address.HouseNumber"/>
          </div>
          <div class="form-group">
            <label for="edit-city">City</label>
            <input type="text" name="city"  class="form-control" id="edit-city" value="@Model.Address.City"/>
          </div>
          <div class="form-group">
            <label for="edit-zip">Zip</label>
            <input type="number" name="zip"  class="form-control" id="edit-zip" value="@Model.Address.Zip"/>
          </div>
          <div class="form-group">
            <label for="edit-country">Country</label>
            <input type="text" name="country"  class="form-control" id="edit-country" value="@Model.Address.Country"/>
          </div>
        }
        <!-- If the user has not added shipping information to their account, the 'Address' part of the form will have have appropriate placeholder text in fields. -->
        else 
        {
          <div class="form-group">
            <label for="edit-street-name">Street Name</label>
            <input type="text" name="streetName"  class="form-control" id="edit-street-name" placeholder="Street Name"/>
          </div>
          <div class="form-group">
            <label for="edit-house-number">House Number</label>
            <input type="number" name="houseNumber"  class="form-control" id="edit-house-number" placeholder="House Number"/>
          </div>
          <div class="form-group">
            <label for="edit-city">City</label>
            <input type="text" name="city"  class="form-control" id="edit-city" placeholder="City"/>
          </div>
          <div class="form-group">
            <label for="edit-zip">Zip</label>
            <input type="number" name="zip"  class="form-control" id="edit-zip" placeholder="ZIP"/>
          </div>
          <div class="form-group">
            <label for="edit-country">Country</label>
            <input type="text" name="country"  class="form-control" id="edit-country" placeholder="Country"/>
          </div>
        }
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>