@model TheBookCave.Models.ViewModels.UserViewModel

<!-- The following row is split into a 3-6-3 column system. -->
<!-- The main purpose of this row is to display a heading in the same size as the total size of the main body of the next row. -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 class="text-center">Account Information</h1>
    <hr>
  </div>
  <div class="col-md-3"></div>
</div>

<!-- The following body is split into a 3-2-4-3 column system where the two middle columns collectively display the main body. -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <!-- The main purpose of this column is to display the user's avatar. -->
    @{string path = Model.Image;}
    <img class="image-small img-responsive center-block" src=@Url.Content(path) alt="Avatar">
  </div>
  <div class="col-md-4">
    <!-- The main purpose of this column is to display infomation about the user. -->
    <h2> <b>Basic Information</b> </h2>
    <h3>Name: @Model.FirstName @Model.LastName</h3>
    <h3>Email: @Model.Email</h3>
    <!-- The user's favorite book is only displayd if they have one, otherwise this section is empty. -->
    @if(Model.FavoriteBookID != null)
    {
      <h2><b>Favorite Book</b></h2>
      <div class="row">
        <div class="col-md-3">
          @{string bookPath = Model.FavoriteBook.Image;}
          <img class="image-small img-responsive center-block" src=@Url.Content(bookPath) alt="Avatar">
        </div>
        <div class="col-md-7">
          <h3>@Model.FavoriteBook.Title</h3>
          <h4>by @Model.FavoriteBook.Author</h4>
        </div>
      </div>
    }

    <h2> <b>Shipping Information</b></h2>
    <!-- The user shipping details are displayed if they have already added them via Account/EditProfile, otherwise "Shipping address not not completely filled out" is displayed. --> 
    @if (@Model.Address != null &&
         @Model.Address.StreetName != null &&
         @Model.Address.HouseNumber != 0 &&
         @Model.Address.City != null &&
         @Model.Address.Zip != 0 &&
         @Model.Address.Country != null)
    {
      <h3>Street Name: @Model.Address.StreetName</h3>
      <h3>House Number: @Model.Address.HouseNumber</h3>
      <h3>City: @Model.Address.City</h3>
      <h3>ZIP: @Model.Address.Zip</h3>
      <h3>Country: @Model.Address.Country</h3>
    }
    else
    {
      <h3>Shipping address not not completely filled out</h3>
    }

    <br/>
  </div>
  <div class="col-md-3"></div>
</div>

<!-- The main purpose of the following row is to display the 'Edit Profile' button in the middle of the page. -->
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <a asp-controller="Account" asp-action="EditProfile" class="center-block btn btn-primary">Edit Profile</a>
    <br/>
    <a asp-controller="Account" asp-action="OrderHistory" class="center-block btn btn-primary">Order History</a>
    <br/>
    @if(User.IsInRole("staff"))
    {
    <a asp-controller="Account" asp-action="AddBook" class="center-block btn btn-primary">Add Book</a>
    }
  </div>
  <div class="col-md-5"></div>
</div>
