@model TheBookCave.Models.ViewModels.UserViewModel

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 class="text-center">Account Information</h1>
    <hr>
  </div>
  <div class="col-md-3"></div>
</div>


<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">
      @{string path = Model.Image;}
      <img class="image-small img-responsive center-block" src=@Url.Content(path) alt="Avatar">
  </div>
  <div class="col-md-4">

    <h2> <b>Basic Information</b> </h2>
    <h3>Name: @Model.FirstName @Model.LastName</h3>
    <h3>Email: @Model.Email</h3>
    @if(Model.FavoriteBookID != null)
    {
      <h3>Favorite Book:</h3>
      <div class="row">
        <div class="col-md-3">
          @{string bookPath = Model.FavoriteBook.Image;}
          <img class="image-small img-responsive center-block" src=@Url.Content(bookPath) alt="Avatar">
        </div>
        <div class="col-md-7">
          <h3>@Model.FavoriteBook.Title</h3>
          <h4>by @Model.FavoriteBook.Author</h4>
        </div>
      </div>
    }

    <h2> <b>Shipping Information</b></h2>
    @if (@Model.Address != null &&
         @Model.Address.StreetName != null &&
         @Model.Address.HouseNumber != 0 &&
         @Model.Address.City != null &&
         @Model.Address.Zip != 0 &&
         @Model.Address.Country != null)
    {
      <h3>Stree Name: @Model.Address.StreetName</h3>
      <h3>House Number: @Model.Address.HouseNumber</h3>
      <h3>City: @Model.Address.City</h3>
      <h3>ZIP: @Model.Address.Zip</h3>
      <h3>Country: @Model.Address.Country</h3>
    }
    else
    {
      <h3>Shipping address not not completely filled out</h3>
    }

    <br/>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <a asp-controller="Account" asp-action="EditProfile" class="center-block btn btn-primary">Edit Profile</a>
  </div>
  <div class="col-md-5"></div>
</div>
