@model List<TheBookCave.Models.ViewModels.BookViewModel>

<!-- The following code block returns "book" if there is only a single book in the wishlist, otherwise it returns "books". -->
@{string bookVsBooks = "book";}
@if(Model.Count != 1)
{
  bookVsBooks += "s";
}

<h1 class="text-center">Wishlist
  <small>@Model.Count @bookVsBooks</small>
</h1>
<hr/>

<div id="cart">
    @if(@Model.Count != 0)
    {
        @foreach (var Book in Model)
        {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 row">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            @{string path = Book.Image;}
                            <img class="image-small" src=@Url.Content(path) alt="@Book.Title">
                            @{int intRating    = ((int)(((Book.Rating * 4) + 1) / 2)) * 5; }
                            @{string stringRating = "~/images/stars/" + intRating + "StarsSmall.png"; }
                            <img src=@Url.Content(stringRating) alt="Rating" class="img-responsive center-block">
                        </div>
                    </div>
                    <div class="col-md-7 row">
                        <h3><a asp-controller="Book" asp-action="Details" asp-route-id="@Book.ID">@Book.Title</a></h3>
                        <h4>By @Book.Author</h4>
                    </div>
                    <div class="col-md-2">
                        <h3>@Book.Price $</h3>
                    </div>
                    <div class="col-md-1">
                        <br>
                        <form asp-action="MoveWishlistToCart" asp-controller="Account" asp-route-bookID="@Book.ID" method="POST">
                            <button type="submit" class="btn btn-primary add-to-cart">Add to Cart</button>
                        </form>
                        <br>
                        <form asp-action="RemoveWishlist" asp-controller="Account" asp-route-bookID="@Book.ID" method="POST">
                            <button type="submit" class="btn btn-danger remove-from-wishlist">Remove</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8"><hr></div>
                <div class="col-md-2"></div>
            </div>
        }
    }
    else
    {
        <h3>No Books in Wishlist!</h3>
    }
</div>