@model List<TheBookCave.Models.ViewModels.BookViewModel>

<div class="row">
  <!-- The filter window. -->
  <div class="col-md-3 jumbotron">
    <h2>The Catalogue</h2>
    <br/>
    <form asp-action="FilteredCatalogue" asp-controller="Home" method="GET">
      <label>Minimum Price
        <input class="form-control" type="number" name="minPrice" />
      </label> <br/>
      <label>Maximum Price
        <input class="form-control" type="number" name="maxPrice" />
      </label> <br/>
      <label>Search Word
        <input class="form-control" type="text" name="searchWord" />
      </label> <br/>
      <label for="orderyby-dropdown">Ordery by</label>
      <select class="form-control" name="orderBy" id="orderby-dropdown">
        <option value="">Nothing Specific</option>
        <option value="AlphaUp">Alphabetically</option>
        <option value="AlphaDown">Reverse Alphabetically</option>
        <option value="PriceUp">Lowest to Highest Price</option>
        <option value="PriceDown">Highest to Lowest Price</option>
        <option value="RatingUp">Lowest to Highest Rating</option>
        <option value="RatingDown">Highest to Lowest Rating</option>
        <option value="SellerUp">Most to Least Sold</option>
        <option value="SellerDown">Least to Most Sold</option>
        <option value="DatePublishedUp">Oldest to Newest</option>
        <option value="DatePublishedDown">Newest to Oldest</option>
      </select>
      <label for="genre-dropdown">Genre</label>
      <select class="form-control" name="genre" id="genre-dropdown">
        <option value="">Nothing Specific</option>
        <option value="Adventure">Adventure</option>
        <option value="Biography">Biography</option>
        <option value="Children">Children</option>
        <option value="Educational">Educational</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Fiction">Fiction</option>
        <option value="Horror">Horror</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Romance">Romance</option>
        <option value="War">War</option>
      </select> <br />
      <input class="btn btn-primary" type="submit" value="Filter!" />
    </form>
  </div>

  <!-- The catalogue itself. -->
  <div class="col-md-9">
    <br/>
    <h1>@ViewBag.Title</h1>
    <hr/>
    @for(int i = 0; i < @Model.Count; i += 4)
    {
      <div class="row">
        @for(int j = 0; j < 4 && i + j < @Model.Count; j++)
        {
          <div class="col-md-3">
          @{int ind = i + j;}
            <div class="thumbnail">
              @{string path = Model[ind].Image;}
              <img src=@Url.Content(path) alt="..." class="image-medium">
              <div class="caption">
                <h5 class="overflow-caption text-center">
                  <a asp-controller="Book" asp-action="Details" asp-route-id="@Model[ind].ID">@Model[ind].Title</a>
                </h5>
                <h5 class="overflow-caption text-center">
                  <a asp-controller="Home" asp-action="FilteredCatalogue" asp-route-searchWord="@Model[ind].Author">@Model[ind].Author</a>
                </h5>
                @{int intRating  = ((int)(((Model[ind].Rating * 4) + 1) / 2)) * 5; }
                @{string stringRating = "~/images/stars/" + intRating + "StarsSmall.png"; }
                <img src=@Url.Content(stringRating) alt="Rating" class="img-responsive center-block">
                <h5 class="text-center">Price: @Model[ind].Price$</h5>
                <p>
                  <form asp-action="AddToCart" asp-controller="Account" asp-route-id="@Model[ind].ID" method="POST">
                    <button type="submit" class="center-block btn btn-primary">Add to Cart</button>
                  </form>
                </p>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>