@model TheBookCave.Models.ViewModels.BookViewModel

<!-- Row containing the main body of Book/Details. -->
<div class="book-details-container row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <br>
        <img src="~/images/BookSmall.png" alt="Book" class="img-responsive center-block">
        <br>
        <!-- Consider Removing properties from the view model that are unused e.g. copies sold. -->
        <!-- Remember to Scale all rating to number dividable by 0.5. -->

        <!--Makes an integer which is the rounded version of the rating (to 0.5).-->
        @{int intRating  = ((int)(((Model.Rating * 4) + 1) / 2)) * 5;}
        <!--Puzzles together the Path String to the image with that amount of stars.-->
        @{string stringRating = "~/images/stars/" + intRating + "StarsSmall.png";}
        <!--Displays the image of the stars. -->
        <img src=@Url.Content(stringRating) alt="0 stars" class="img-responsive center-block">
        
        <h4 class="text-center">@Model.Publisher</h4>
        <h4 class="text-center">@Model.DatePublished</h4>
        <h4 class="text-center">@Model.NumberOfPages pages</h4>
        <h4 class="text-center">Price: @Model.Price $</h4>
    </div>
    <div class="col-md-6">
        <h2>@Model.Title <small>@Model.Genre</small></h2>
        <h3>@Model.Author</h3>
        <p>Description: @Model.Description</p>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- Row containing a horizontal line between the main body and the buttons. -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <hr>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- The bottom row containing button. -->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <!--@Html.ActionLink("Add to Cart", "AddToCart", "Account", new {id = Model.ID} , null)-->
        <form asp-action="AddToCart" asp-controller="Account" asp-route-id="@Model.ID" method="POST">
            <button type="submit" class="center-block btn btn-primary btn-book-details">Add to Cart</button>
        </form>
    </div>
    <div class="col-md-2">
        <a href="#" class="center-block btn btn-primary btn-book-details">Add to Wishlist</a>
    </div>
    <div class="col-md-2">
        <a href="#" class="center-block btn btn-primary btn-book-details">Rate Book</a>
    </div>
    <div class="col-md-3"></div>
</div>