@model TheBookCave.Models.ViewModels.BookViewModel

<div>

    <h2>@Model.Title</h2>

    <h3>Author: @Model.Author</h3>
    <h3>ISBN10: @Model.ISBN10</h3>
    <h3>ISBN13: @Model.ISBN13</h3>
    <h3>Description: @Model.Description</h3>
    <h3>Price: @Model.Price</h3>
    <h3>Genre: @Model.Genre</h3>
    <h3>Number of Pages: @Model.NumberOfPages</h3>
    <h3>Copies sold: @Model.NumberOfCopiesSold</h3>
    <h3>Publisher: @Model.Publisher</h3>
    <h3>Rating: @Model.Rating</h3>

</div>