@model TheBookCave.Models.ViewModels.BookDetailsViewModel

<!-- Row containing the main body of Book/Details. -->
<div class="book-details-container row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <br>
    @{string path = Model.Book.Image;}
    <img src=@Url.Content(path) alt="..." class="img-responsive center-block image-large">
    <br>

    <!-- Makes an integer which is the rounded version of the rating (to 0.5). -->
    @{int intRating  = ((int)(((Model.Book.Rating * 4) + 1) / 2)) * 5;}
    <!-- Puzzles together the Path String to the image with that amount of stars. -->
    @{string stringRating = "~/images/stars/" + intRating + "StarsSmall.png";}
    <!-- Displays the image of the stars. -->
    <img src=@Url.Content(stringRating) alt="0 stars" class="img-responsive center-block">
    
    <h4 class="text-center">@Model.Book.Publisher</h4>
    <h4 class="text-center">@Model.Book.DatePublished</h4>
    <h4 class="text-center">@Model.Book.NumberOfPages pages</h4>
    <h4 class="text-center">Price: @Model.Book.Price $</h4>
  </div>
  <div class="col-md-6">
    <h2>@Model.Book.Title
      <small>@Model.Book.Genre</small>
    </h2>
    <h3>@Model.Book.Author</h3>
    <p>Description: @Model.Book.Description</p>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Row containing a horizontal line between the main body and the buttons. -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- The bottom row containing button. -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <form asp-action="AddToCart" asp-controller="Account" asp-route-id="@Model.Book.ID" method="POST">
      <button type="submit" class="btn btn-primary add-to-cart">Add to Cart</button>
    </form>
  </div>
  <div class="col-md-2">
    <form asp-action="AddToWishlist" asp-controller="Account" asp-route-id="@Model.Book.ID" method="POST">
      <button type="submit" class="btn btn-primary add-to-wishlist">Add to Wishlist</button>
    </form>
  </div>
  <div class="col-md-2">
    <a asp-controller="Book" asp-action="Rating" asp-route-id="@Model.Book.ID" class="btn btn-primary">Rate Book</a>
  </div>
  <div class="col-md-2">
    <form asp-action="MakeFavorite" asp-controller="Account" asp-route-bookID="@Model.Book.ID" method="POST">
      <button type="submit" class="btn btn-primary add-to-favorite">Make Favorite</button>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- The following row is split into a 2-8-2 column system for indenting purposes. -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <!-- If the book has any ratings, this column will be used to display a list of all of the ratings. -->
    @if(Model.Ratings.Count != 0)
    {
      <hr>
      <h2 class="text-center">Comments</h2>
      <hr>
      @foreach(var Rating in Model.Ratings)
      {
        <!-- Each comment consists of a row, which is split into a 3-9 column system. -->
        <div class="row">
          <div class="col-md-3">
            <!-- This column in the comment is used to display the user's avatar. -->
            @{string avatar = Rating.Image;}
            <img src="@Url.Content(avatar)" alt="Avatar" class="image-small">
          </div>
          <div class="col-md-9">
            <!-- This column in the comment is used to display the user's name, rating, and comment (if he added a comment). -->
            <h3>@Rating.FirstName @Rating.LastName</h3>
            @{int userIntRating = Rating.Score;}
            @{string userStringRating = "~/images/stars/" + userIntRating + "0StarsSmall.png";}
            <img src=@Url.Content(userStringRating) alt="Rating">
            <p>@Rating.Comment</p>
            <h5>@Rating.Votes</h5>
            <form asp-controller="Account" asp-action="VoteComment" asp-route-bookID="@Model.Book.ID" asp-route-ratingID="@Rating.RatingID" method="POST">
              <input type="submit" value="Like">
            </form>
          </div>
        </div>
      }
    }
  </div>
  <div class="col-md-2"></div>
</div>